.custom-dropdown {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
    margin-right: 27px;
    font-weight: normal;
    position: relative;
    color: #000;
}

.custom-dropdown a {
    background-color: #FFFFFF;
    border: 1px solid #decda5;
    border-right: 0 none;
    box-shadow: 0 0 1px #CCCCCC inset;
    border-radius: 6px 0 0 6px;
    color: #ea7f8b;
    cursor: pointer;
    display: block;
    line-height: 32px;
    *line-height: 40px;
    min-height: 40px;
    padding: 0 10px;
    padding-left: 8px;
    text-decoration: none;
    position: relative;
    min-width: 19px;
    vertical-align: middle;
}

.custom-dropdown a:hover {
    text-decoration: none;
}

.custom-dropdown a:active {
    /*background-color: #FFFFFF !important;*/
}

.custom-dropdown .custom-dropdown-arrow {
    background-image: url("./img/dropdown-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 42px;
    position: absolute;
    right: -42px;
    top: -1px;
    width: 42px;
}

.custom-dropdown .current-label {
    display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 35px;
    max-width: 100%;
    margin-top: 4px;
}

.custom-dropdown > ul {
    position: absolute;
    overflow: hidden;
    background: white;
    *left: 0;
    z-index: 10;
    opacity: 0;
    height: 0;
    padding: 0;
    min-width: 41px;
    list-style: none outside none;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    border: 1px solid #bac0c9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 2px #dcdbda;
    -webkit-box-shadow: 0 0 2px #dcdbda;
    -moz-box-shadow: 0 0 2px #dcdbda;
    display: none\0/;
    *display: none;
}

.custom-dropdown > ul li {
    padding: 4px 4px 4px 8px;
    background: none repeat scroll 0 0 #FFF;
    /*  border-bottom: 1px solid #CCC;*/
    /*box-shadow: 0 0 5px #dcdbda;*/
    cursor: pointer;
}

.custom-dropdown > ul li.default-label {
    display: none;
}

.custom-dropdown > ul li:hover {
    background-color: #ea7f8b;
    background-repeat: repeat-x;
    color: #FFFFFF !important;
}

.custom-dropdown.open > a {
    background-color: #ea7f8b;
    color: #FFF !important;
    background-repeat: repeat-x;
}

.custom-dropdown.open > ul {
    display: block;
    height: auto;
    opacity: 1;
    width: 100%;
}
