.rm_wrap {
    width: 740px;
}

.rm_section {
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #f9f9f9;
}

.rm_opts label {
    font-size: 12px;
    font-weight: 700;
    width: 200px;
    display: block;
    float: left;
}

.rm_input {
    padding: 30px 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}

.rm_opts small {
    display: block;
    float: right;
    width: 200px;
    color: #999;
}

.rm_opts input[type="text"], .rm_opts select {
    width: 280px;
    font-size: 12px;
    padding: 4px;
    color: #333;
    line-height: 1em;
    background: #f3f3f3;
}

.rm_input input:focus, .rm_input textarea:focus {
    background: #fff;
}

.rm_input textarea {
    width: 280px;
    height: 175px;
    font-size: 12px;
    padding: 4px;
    color: #333;
    line-height: 1.5em;
    background: #f3f3f3;
}

.rm_title h3 {
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    color: #232323;
    float: left;
    width: 80%;
    padding: 14px 4px;
}

.rm_title {
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background: #eee;
    padding: 0;
}

.rm_title h3 img.inactive {
    margin: -8px 10px 0 2px;
    width: 32px;
    height: 32px;
    background: url('../img/pointer.png') no-repeat 0 0;
    float: left;
    -moz-border-radius: 6px;
    border: 1px solid #ccc;
}

.rm_title h3 img.active {
    margin: -8px 10px 0 2px;
    width: 32px;
    height: 32px;
    background: url('../img/pointer.png') no-repeat 0 -32px;
    float: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ccc;
}

.rm_title h3:hover img {
    border: 1px solid #999;
}

.rm_title span.submit {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 15%;
    padding: 14px 0;
}

.clearfix {
    clear: both;
}

.rm_table th, .rm_table td {
    border: 1px solid #bbb;
    padding: 10px;
    text-align: center;
}

.rm_table th, .rm_table td.feature {
    border-color: #888;
}

.admin-menu-content label {
    width: 110px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

.admin-menu-content input[type="text"], .admin-menu-content textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 220px;
}

.admin-menu-content textarea {
    height: 70px;
    /*margin-left: 4px;*/
}

.admin-menu-content .textarea-label {
    float: left;
}

.admin-menu-content #sortable .group {
    border: 1px solid #b2b2b2;
    margin: 5px 0px;
    width: 790px;
    cursor: move;
    padding-left: 5px;
    background: #e9e9e9 url(../img/sortable.png) no-repeat center left;

}

.admin-menu-content #sortable .group input {
    margin: 5px;
    border: 1px solid #b2b2b2;
    width: 300px;
}

.admin-menu-content #sortable .group label {
    text-align: left;
    margin: 5px 0px 5px 30px;
    width: 45px;
}

.general-settings .admin-menu-content {
    margin-left: 270px;
}

.general-settings .admin-menu-content > div {
    display: none;
}

.general-settings .admin-menu-content div:first-child {
    display: block;
}

.general-settings .admin-menu {
    width: 200px;
    float: left;
    min-height: 320px;
    background: #ebebeb;
    padding-top: 30px;
    margin: 0px;
    border-right: 1px solid #d6d6e5;
    border-bottom: 1px solid #d6d6e5;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.general-settings .admin-menu li a.selected {
    background: url('../img/arrow.png') no-repeat;
    color: white;
}

.general-settings .admin-menu li a.selected:hover {
    color: white;
}

.general-settings .admin-menu li {
    position: relative;
    height: 40px;
    margin-bottom: 0px;
}

.general-settings .admin-menu li a {
    text-decoration: none;
    outline: none;
    color: #a4a4a4;
    display: block;
    width: 100%;
    left: 0px;
    top: -10px;
    padding: 7px 20px 10px 15px;
    position: absolute;
}

.general-settings .admin-menu li a:hover {
    color: #808080;
}

.general-settings .admin-general-block {
    min-height: 400px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6e5;
}

.general-settings .round-button:hover {
    background: #c5c5c5;
}

.general-settings .round-button {
    position: relative;
    background: #b9b9b9;
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    float: left;
}

.general-settings .round-button.disabled,
.general-settings .round-button.disabled:hover{
    color: #a9a9a9;
    background: #b9b9b9;
}

.general-settings #impressionism-save-settings-counter {
    position: absolute;
    right: 0px;
    top: -10px;
    background: #ff5f5f;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;

}

/* Gallery content block. Start */
.image-parent-block input[type="text"],
.image-parent-block textarea {
    width: 400px;
}

.image-parent-block {
    border: 1px solid #c7c7c7;
    padding: 20px;
    margin-bottom: 30px;
    width: 650px;
    position: relative;
}

.image-parent-block > div {
    min-height: 70px;
    margin-bottom: 10px;
}

.image-parent-block > div > div.text {
    width: 160px;
    float: left;
    font-weight: bolder;
    min-height: 70px;
    font-size: 14px;
}

.image-parent-block:hover .delete-button {
    display: block;
}

.image-parent-block .delete-button {
    display: none;
    background: url("../img/close.png");
    width: 24px;

    height: 24px;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
}

.image-parent-block .select-image-description {
    padding: 10px 0px;
    color: #d4d4d4;
}

/* Gallery content block. End */

.create-thumb-process-image {
    display: none;
    background: url('../img/ajax-loader.gif');
    width: 16px;
    height: 11px;
}

.block-title{
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    width: 160px;
    margin-left: 20px;
}

.block-title.float-textarea{
    display: inline-block;
    float: left;
    width: 163px;
}

.js-portfolio input.portfolio-block-input,
.js-about input.portfolio-block-input,
.js-blog input.portfolio-block-input,
.js-contact-us input.portfolio-block-input,
.js-contact-us textarea,
.js-social input.portfolio-block-input{
    width: 400px;
}

.js-blog > div{
    min-height: 38px;
}

.sortable-handler{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 22px;
    height: 90%;
    background: url("../img/row.png") repeat-y;
    padding: 2px;
}

.sortable-handler:hover{
    cursor: move;
}

.docs{
    position: absolute;
    display: none;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    background: #b9b9b9;
    padding: 5px;
}
.docs a{
    color: white;
    text-decoration: none;
}

.docs a:hover{
    color: white;
    text-decoration: underline;
}

.info{
    display: inline-block;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background: url("../img/info.png") 0 0 no-repeat;
    cursor: pointer;
}

.info:hover{
    background: url("../img/info.png") -29px 0 no-repeat;
}