/* ____________________ START Horizontal Paging _____________________ */

.hp {
    position: relative;
}
.hp .hp-paging-arrow {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -20px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  cursor: pointer;
}
.hp .hp-paging-arrow.hp-paging-next {
  right: -50px;
  border-left: 40px solid #999;
}
.hp .hp-paging-arrow.hp-paging-back {
  left: -50px;
  border-right: 40px solid #999;
}
.hp .hp-paging {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}
.hp .hp-paging li {
  display: inline-block;
  zoom: 1;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  list-style: none;
  *display: inline;
}
.hp .hp-paging li.selected a {
  background-color: #FFF;
}
.hp .hp-paging a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #999;
}
/* ____________________ END Horizontal Paging _____________________ */
